.cover__subtitle {
  /* font-family: Inter; */
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
/*font-size: 18px;
  line-height: 22px; */
  /* ровняем по perfect pixel */
  margin: 0 auto;
  text-align: center;
  max-width: 360px;
  max-height: 66px;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1280px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}