.footer__link {
  text-decoration: none;
  padding-left: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.footer__link:first-of-type {
  padding-left: 0;
}