.lead__title {
  width: calc(100% - 2 * 132px);
  /* max-width: 720px; */
  height: 200px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  min-width: 720px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    width: calc(100% - 2 * 104px);
  } 
}

@media screen and (max-width: 768px)  {
  .lead__title {
    width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    width: calc(100% - 2 * 16px);
    min-width: 288px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}