.cover__overlay {
    text-decoration: none;
    display: block;
 /*    display: flex;
    flex-direction: column; */
    align-items: center;
    color: #FFFFFF;
    background: rgba(42, 44, 47, .3);
    width: 100%;
    min-height: 740px;
    /* row-gap: 32px; */
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    margin: 0 auto;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}