.cover__overlay {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  display: block;
  background: rgba(42, 44, 47, .3);
  /* padding: 74px; */
  max-width: 1184px;
  /* align-items: center; */
  /* justify-content: center; */
  row-gap: 32px;
}

@media screen and (min-width: 1280px) {
  .cover__overlay { 
    width: 100%;
    height: 100%;
    /* height: max-content; */
    /* row-gap: 32px; */
    /* padding-top: 280px; */ /*черз метод наложение perfict pixel высчитываем отступы */
  }
}

@media screen and (min-width: 1024px) {
  .cover__overlay { 
    /* row-gap: 32px; */
    /* padding: 200px 300px 150px 90px; */ /*черз метод наложение perfict pixel высчитываем отступы */
  }
}

@media screen and (min-width: 768px) {
  .cover__overlay { 
    /* row-gap: 32px; */
    /* padding: 120px 90px 80px; */ /*черз метод наложение perfict pixel высчитываем отступы */
  }
}