.cover__title {
  width: calc(100% - 2 * 16px);
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cover__title {
    width: calc(100% - 2 * 104px);
    padding-top: 115px;
    padding-bottom: 32px;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    width: calc(100% - 2 * 232px);
    padding-top: 195px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    width: calc(100% - 2 * 312px);
    padding-top: 245px;
  }
}